<!DOCTYPE html>
<html >
<head>
	<title>quizapp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<br>
		<h1>&nbsp&nbsp&nbsp&nbspThe</h1>
<div id="imgdiv" class="container">
		<img src="https://year3welbourne.wikispaces.com/file/view/science_WordArt.png/272112542/651x262/science_WordArt.png" align:"centre"> </div>

	<h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQuiz !</h1><br>

		<div id="content">
		</div>
	</div>
	<br>
<div class="form-inline" style='text-align:center'>
<button class="btn btn-primary" onclick="submit()" >Submit Your Answer</button></div>
<br>
<br>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	<p id="result"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<span id='closeButton'> </span>
	      </div>
	    </div>
	  </div>
	</div>
 <script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/css/bootstrap_theme.min.css"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
